body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: bisque;
}

#playingText{
    position: fixed;
    top: 30px;
    font-size: 2em;
}

#restart{
    position: fixed;
    bottom: 50px;
    width: 350px;
    font-size: 4ch;
    height: 50px;
    background-color: white;
    border-style: none;
    border-radius: 20px;
    cursor: pointer;
}

#winnerScreen{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.896);
    font-size: 4ch;
    font-weight: 900;
    padding: 100px 50px;
}
#winCounter{
    position: fixed;
    left: 20px;
}
#winCounter > * {
    font-size: 2.5ch;
}
table{
    margin: 0 auto; 
    border-collapse: collapse;
    position: relative;
}
tr{
    padding: 10px;
    margin: 70px;
    min-width: 410px;
}
td{
    padding: 50px;
    margin: 70px;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 4em;
    cursor: pointer;
}
td:first-child{
    border-right:3px solid black;
    border-bottom: 3px solid black;
}
td:nth-child(2){
    border-right:3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
}
td:last-child{
    border-bottom: 3px solid black;
}
tr:last-child td{
    border-bottom: 0px solid black;
}